.four {
  font-size: 90px;
  font-weight: 900;
  margin-top: 20px;
}

.pagenotfound {
  font-size: 50px;
  margin-bottom: 20px;
}

.fixed-bottoms {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 230px;
  z-index: 1030;
}

.sidebars-button {
  transition: all linear 0.3s !important;
}

.sidebars .nav-links li a {
  padding: 20px
}

.sidebars .nav-links li i {
  min-width: 50px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;